@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Slab:300,400");
/* SCSS Mixins*/
/* -- Base Styles  ---------- */
p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  p {
    text-align: center;
  }
}

.mobile-header {
  color: white;
}

.navbar {
  background-color: #0c57ec;
  margin-bottom: 0 !important;
  border-radius: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-brand {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar a {
  font-size: 20px;
  color: #ebebeb;
  letter-spacing: 1px;
}

.navbar .icon-bar {
  background-color: #ebebeb;
}

li.active{
    background-color: #192d53;
}

.nav > li > a {
        box-shadow: inset 0 0 0 0 #192d53;
        /* color: #192d53; */
        /* padding: 0 .25rem;
        margin: 0 -.25rem; */
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      }
.nav > li > a:hover {
        color: #fff;
        background-color: #0c57ec !important;
        box-shadow: inset 200px 0 0 0 #192d53;;
      }
      
.submit-btn{
    background-color: #0c57ec !important;
}

form{
    background-color: #f1f2f6;
    padding: 20px;
    border-radius: 10px;
}


.no-round-corners {
  border-radius: 0 !important;
}

.logo-header {
  background-color: #192d53;
}

.logo-header .au-logo {
  width: 100%;
  margin: 10% 0;
}

.logo-header .header-headline {
  color: #ebebeb;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 3.5vw;
  margin: 5.5% 0 0 0;
}

@media only screen and (max-width: 768px) {
  .display-desktop {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .display-mobile {
    display: none;
  }
}

.display-mobile-small {
  margin-left: 22%;
}

@media only screen and (min-width: 767px) {
  .display-mobile-small {
    display: none;
  }
}

.hero-slider {
  padding: 0 !important;
}

.headline {
  font-family: "Roboto Slab", serif;
  font-size: 65px;
  line-height: 75px;
  padding: 5% 0;
  font-weight: 300;
  color: #192d53;
}

@media only screen and (max-width: 768px) {
  .headline {
    font-size: 30px;
    line-height: 40px;
  }
}

.slider-container {
  background-color: #000000;
}

.footer {
  background-color: #192d53;
}

.au-footer-logo {
  width: 60%;
  padding: 5% 0;
}

.no-padding {
  padding: 0 !important;
}

.divider {
  color: #192d53;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.copyright-info {
  padding: 1% 0 0 0;
  background-color: #0c57ec;
}

.copyright-info p {
  color: #ebebeb;
  font-size: 13px;
  line-height: 18px;
}

.green {
  background-color: #2ecc71;
}

.cta-text {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 5% 0;
  line-height: 65px;
  font-size: 55px;
}

@media only screen and (max-width: 768px) {
  .cta-text {
    font-size: 25px;
    line-height: 30px;
  }
}

.background-color-change {
  background-color: #636e72 !important;
  background-blend-mode: multiply;
}

.jumbotron {
  background-image: url(https://static.pexels.com/photos/48895/roof-plate-tiles-brick-black-48895.jpeg);
  background-position: 5% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
}

.jumbotron h2 {
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  color: white;
  font-weight: 300;
  margin-top: 0;
}

.jumbotron .services-intro {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: .2px;
  color: white;
}

.border-radius-none {
  border-radius: 0 !important;
}

.srv-roofing {
  background-color: #ebebeb;
}

.titles {
  font-family: "Roboto Slab", serif;
  color: "Roboto Slab", serif;
  margin-top: 0;
  font-size: 35px;
  font-weight: 300;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .titles {
    text-align: center;
  }
}

.services-image {
  width: 100%;
}

.services-padding {
  padding: 3% 0;
}

.srv-painting {
  background-color: white;
}

.title-margin {
  margin: 5% 0 0 0;
}

.row-padding {
  padding: 0 0 4% 0;
}

.row-padding2 {
  padding: 2% 0;
}

.height-vh {
  height: 50vh;
}

@media only screen and (max-width: 768px) {
  .height-vh {
    height: auto;
  }
}

.contact-intro {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 35px;
  color: #192d53;
  margin-top: 0 !important;
}

.corporate-contact {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 24px;
  color: #192d53;
  margin-bottom: 1%;
}

@media only screen and (max-width: 768px) {
  .corporate-contact {
    text-align: center;
  }
}

.padding-bottom {
  padding-bottom: 2%;
}

.height-vh2 {
  /* min-height: 90vh; */
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .height-vh2 {
    height: auto;
  }
}
